.section1{
  height: 100vh;
}
h1 {
  display: inline-block;
  color:$colorTitle;
  font-family: $font-family-catalogue;
  font-size: 13em;
  text-shadow: 0.02em 0.02em 0 rgb(233, 232, 232);

}
h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: .135em;
  left: 2.53em;
  z-index: -1;
  text-shadow: none;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    black 45%,
    black 55%,
    transparent 0
    );
  background-size: 0.05em 0.05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}

.button {
  padding: 1em 2em;
  border: none;
  border-radius: 0;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color:$colorTitle;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid$colorTitle;
  &:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #c8bce6;
    box-shadow: 4px 5px 17px -4px $colorVioletDark;
  }
}



.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color:$colorTitle;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}




.btn-outline-card {
  @include button-outline-variant(
    $colorTuMejorAmigo,
    $color-hover: color-contrast($backgroundColor),
    $active-background: $colorBtn,
    $active-border: $colorBtn,
    $active-color: color-contrast($backgroundColor)
  );

  font-size: 1rem;
  font-weight: 600;
  padding: 0.4rem 3rem;
  transition: all 0.7s ease;

  border-radius: 0.8rem;
  &::hover {
    transition: all;
  }
}
@media (min-width: 1200px) {
  .section1{
    height: 100vh;
   
    .card-img-overlay h1 {

      font-size: 10em;
      &:after {
      
        top: .165em;
        left: 2.25em;
      }
    }
    .button{
      font-size: 0.8em;
      
      
    }
  }
 };

@media (max-width: 768px) {
  .section1{
    height: 50vh;
   
    .card-img-overlay h1 {

      font-size: 5em;
      &:after {
      
        top: .270em;
        left: .63em;
      }
    }
    .button{
      font-size: 0.5em
    }
  }
 };

