.cardShop {
  box-sizing: border-box;
  width: 15rem;
  height: 350px;
  background: rgba(240, 239, 239, 0.58);
  border: 1px solid white;
  backdrop-filter: blur(6px);
  border-radius: 17px;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
    height: max-content;
    padding: .8em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  &:hover{
    border: 1px solid rgb(184, 182, 182);
  transform: scale(1.05);
  .card-img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    filter: grayscale(0);
   }
  &:active{
    transform: scale(0.95) rotateZ(1.7deg);
  }
  }
   }
   
   .card-img {
    background-color: $colorViolet;
  overflow: hidden;
    width: 100%;
    border-radius: 17px;
    transition: .5s ease;
filter: grayscale(.3);
 
}
   .card-info {
    padding-top: 10%;
   }
   
   
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    svg {
      width: 20px;
      height: 20px;
    
     }
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.1em;
    line-height: 1.5;
   }
   
 
   
   /*Button*/
   .card-button {
    border: 1px solid #c8bce6;
      background-color: #c8bce6;
   
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .5s ease-in-out;
    &:hover{
      border: 1px solid $colorViolet;
      background-color: $colorViolet;
    }
   }
   
   @media (max-width:768px) {
    .cardShop {

      width: 10rem;
    
    }
  
   }