.custom-loader {
  width:120px;
  height:20px;
  -webkit-mask:linear-gradient(90deg,#512c2e 70%,#0000 0) left/20% 100%;
  background:
   linear-gradient($colorViolet 0 0) left -25% top 0 /20% 100% no-repeat
   #E4E4ED;
  animation:ct7 1s infinite steps(6);
}
@keyframes ct7 {
    100% {background-position: right -25% top 0}
}