.navbar {


   
      .nav-link {
       
       margin: 0.1rem;
        color:white;
      }
    
  }
  .navbarBg{
    background-color:#292929;
   }
  .nav-link-cart {
    font-weight: 700;
    color: white;
    margin: 0.1rem;
    text-decoration: none;
    padding-top: 70px;
    &span{
   

      font-size: 1.2rem;
     
    }
 
   
  }

  
  
