.navbar {


   
      .nav-link-white {
       
       margin: 0.1rem;
        color:white;
      }
      .nav-link-dark {
       
       margin: 0.1rem;
        color:#292929;
      }
    
  }
  .navbarBg{
    background-color:#292929;
   }
  .nav-link-cart {
    font-weight: 700;

    margin: 0.1rem;
    text-decoration: none;
    padding-top: 70px;
    &span{
   

      font-size: 1.2rem;
     
    
    }
 
  }
  .nav-link-cart-white{
    color: white;
   }
   .nav-link-cart-dark{
    color:#292929;
     
    }
  
